@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup,  nav, section, summary {
    display: block
}
audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1
}
audio:not([controls]) {
    display: none;
    height: 0
}
[hidden] {
    display: none
}
html {
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}



body {
    margin: 0
}
a:focus {
    outline: thin dotted
}
a:active, a:hover {
    outline: 0
}
h1 {
    font-size: 2em;
    margin: .67em 0
}
h2 {
    font-size: 1.5em;
    margin: .83em 0
}
h3 {
    font-size: 1.17em;
    margin: 1em 0
}
h4 {
    font-size: 1em;
    margin: 1.33em 0
}
h5 {
    font-size: .83em;
    margin: 1.67em 0
}
h6 {
    font-size: .67em;
    margin: 2.33em 0
}
abbr[title] {
    border-bottom: 1px dotted
}
b, strong {
    font-weight: 700
}
blockquote {
    margin: 1em 40px
}
dfn {
    font-style: italic
}
hr {
    box-sizing: content-box;
    height: 0
}
mark {
    background: #ff0;
    color: #000
}
p, pre {
    margin: 1em 0
}
code, kbd, pre, samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em
}
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word
}
q {
    quotes: none
}
q:before, q:after {
    content: '';
    content: none
}
small {
    font-size: 80%
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}
sup {
    top: -.5em
}
sub {
    bottom: -.25em
}
dl, menu, ol, ul {
    margin: 1em 0
}
dd {
    margin: 0 0 0 40px
}
menu, ol, ul {
    padding: 0 0 0 40px
}
nav ul, nav ol {
    list-style: none;
    list-style-image: none
}
img {
    border: 0;
    -ms-interpolation-mode: bicubic
}
svg:not(:root) {
    overflow: hidden
}
figure {
    margin: 0
}
form {
    margin: 0
}
fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}
legend {
    border: 0;
    padding: 0;
    white-space: normal;
    *margin-left: -7px
}
button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle
}
button, input {
    line-height: normal
}
button, select {
    text-transform: none
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
    *overflow: visible
}
button[disabled], html input[disabled] {
    cursor: default
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    *height: 13px;
    *width: 13px
}
input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}
textarea {
    overflow: auto;
    vertical-align: top
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
body {
    color: #333;
    background-color: #fff
}
a {
    text-decoration: none;
    color: #333
}
a:hover {
    text-decoration: underline;
    color: #e94646
}
img {
    vertical-align: top
}
em {
    font-style: normal
}
ol, ul, menu {
    list-style: none outside none
}
fieldset, iframe {
    border: 0 none
}
dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, hr, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0
}
iframe {
    display: block
}
th {
    text-align: inherit
}
input, button, select, textarea {
    font-family: Tahoma, Arial, "Helvetica Neue", Helvetica, sans-serif
}
textarea {
    resize: vertical;
    overflow: auto
}
del {
    text-decoration: line-through;
}
abbr {
    cursor: help;
}
hr {
    height: 10px;
    margin-bottom: .8em;
    border: 0;
    border-bottom: 1px solid #cfcfcf;
}
blockquote {
    position: relative;
    padding: 0 15px;
    margin: 15px 0;
    border-left: 4px solid #ddd;
    color: #999
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {}@media print {
    *, :before, :after {
        background: transparent!important;
        color: #000!important;
        box-shadow: none!important;
        text-shadow: none!important
    }
    a, a:visited {
        text-decoration: underline
    }
    a[href]:after {
        content: " (" attr(href) ")"
    }
    abbr[title]:after {
        content: " (" attr(title) ")"
    }
    a[href^="#"]:after, a[href^="javascript:"]:after {
        content: ""
    }
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid
    }
    thead {
        display: table-header-group
    }
    tr, img {
        page-break-inside: avoid
    }
    img {
        max-width: 100%!important
    }
    p, h2, h3 {
        orphans: 3;
        widows: 3
    }
    h2, h3 {
        page-break-after: avoid
    }
}
ul{
	margin: 0;
	padding: 0;
}
li{
	list-style:none;
}

/*初始化结束*/
/*首页代码开始*/

.head-top {
    height: 60px;
    background: #1e2023;
    position: relative;
    z-index: 11
}

.head-top .container {
    height: 60px;
    position: relative;
}


.container{
    width: 1200px;
    padding: 0 10px;
    margin: 0 auto
}


.g-inner{
    width: 1200px;
    padding: 0 10px;
    margin: 0 auto
}
	
.head-left{
    position: absolute;
    width: 410px;
    left: 10px;
    top: 0;  
    overflow: hidden;
    z-index: 11
}

.logo-title {
    width: 162px;
    height: 65px;
    margin-right: 15px;
    float: left;
    background: url(http://pub.dwstatic.com/p/2017dw/1.1.0/img/g-logo_85ff65d.png) left center no-repeat;
    text-indent: -9999px
}

.logo-title a {
    display: block;
    width: 100%;
    height: 100%;
    outline: 0
}


.logo-channel {
    display: block;
    height: 24px;
    line-height: 24px;
    padding-left: 12px;
    border-left: 1px solid #595e66;
    font-size: 20px;
    color: #e94646;
    font-weight: 400;
    float: left;
    margin-top: 33px;
    margin-top: 19px
}

.head-right {
    position: absolute;
    right: 10px;
    top: 17px;
    z-index: 11;
    *zoom:1
}

.item-btns {
    float: left;
    color: #545454;
    line-height: 28px;
    margin-right: 15px;
    display: block;
}

.item-btns .btns-item {
    color: #a6aab3;
    font-size: 14px;
    margin: 0 3px;
    cursor: pointer
}

.item-btns .btns-item:hover {
    color: #e9edf5;
    text-decoration: underline
}



.main-body {
    min-width: 1020px;
    background: 
}

.main-body,.page-artlist {
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 200px
}

.dw-mod-nav .mod-hd {
    *zoom:1;
    line-height: 65px;
    background: #000;
    overflow: hidden;
 background: rgba(0,0,0,.9)
}


.dw-mod-nav .mod-hd:before,.dw-mod-nav .mod-hd:after {
    content: ""; 
    line-height: 0
}

.dw-mod-nav .mod-hd .nav-fl {
    *zoom:1;float: left;
    width: 1015px;
    height: 65px;
    overflow: hidden;
}

.dw-mod-nav .mod-hd .nav-fl li{
    text-align: center
}
.dw-mod-nav .mod-hd .nav-fl a {
    display: block;
    color: #f04545;
    font-size: 14px;
    outline: 0
}
.dw-mod-nav .mod-hd .nav-fl li.active a {
    color: #fff
}


.dw-mod-nav .mod-hd .nav-fr {
    float: right;
    text-align: center
}

.dw-mod-nav .mod-hd .nav-fr li {
    float: left;
    width: 185px
}

.dw-mod-nav .mod-hd .nav-fr a {
    color: #FFF;
    font-size: 24px;
    display: block;
    background: #f04545
}

.dw-mod-nav .mod-hd .nav-fr a:hover {
    text-decoration: none;
    background: #f86060
}

.dw-mod-nav .mod-bd {
    background: #333436;
    padding: 12px 20px 0 10px;
    height: 68px;
    overflow: hidden
}

.dw-mod-nav .mod-bd .box-fl {
    float: left;
    line-height: 24px;
    width: 860px
}

    .dw-mod-nav .mod-bd .box-fl .row {
    margin-bottom: 10px;
    height: 24px;
    overflow: hidden
}

.dw-mod-nav .mod-bd .box-fl label {
    float: left;
    display: block;
    height: 24px;
    width: 68px;
    text-align: center;
    background: #4a4a4a;
    color: #f04545;
    margin-right: 10px;
    font-size: 14px
}

.dw-mod-nav .mod-bd .box-fl li {
    float: left;
    margin-right: 16px
}

.dw-mod-nav .mod-bd .box-fl a {
    font-size: 14px;
    color: #c1c1c1
}

.dw-mod-nav .mod-bd .box-fl a:hover {
    color: #f04545;
    text-decoration: none
}

.dw-mod-nav .mod-bd .box-fr {
    float: right
}

.dw-mod-nav .mod-bd .box-fr a {
    display: inline-block;
    height: 16px;
    line-height: 16px;
    color: #FFF;
    font-size: 14px;
    padding-left: 23px;
    margin: 0 8px 0 10px
}

.dw-mod-nav .mod-bd .box-fr .row {
    text-align: right;
    line-height: 1;
    margin-bottom: 15px
}

.dw-mod-nav .mod-bd .box-fr .link-dl {
    background-repeat: no-repeat;
}

.dw-mod-nav .mod-bd .box-fr .link-bbs {
    background-repeat: no-repeat;
}

.dw-mod-nav .mod-bd .box-fr .input-wrap {
    width: 215px;
    padding-left: 10px;
    background: #3d3e40;
    border-radius: 12px
}

.dw-mod-nav .mod-bd .box-fr input {
    outline: 0;
    border: 0;
    background: transparent;
    width: 178px;
    height: 25px;
    line-height: 25px;
    float: left;
    margin-right: 6px;
    color: #f5f5f5;
    font-size: 12px
}

.dw-mod-nav .mod-bd .box-fr button {
    float: left;
    outline: 0;
    border: 0;
    background-color: transparent;
    width: 18px;
    height: 25px;
    background-repeat: no-repeat;
}

.dw-mod-nav .mod-bd .box-fr button {
	background-image: url(http://pub.dwstatic.com/zq2017/wzryvideo//img/sprite/home_z_4f68b72.png);
    background-position: -10px -426px
}
.nav-fl li{
	display: inline-block;
    *
    display: inline;
    *
    zoom:1;
    text-align: center;
    height: 65px;
    line-height: 65px;
    padding-left: 50px;
}

.mod-hot{
    margin-top: 20px;  
    overflow: hidden;
    background: #f5f4fb;
}



.mod-hot .hotnews-navtitle {
    position: relative;
    height: 32px;
    background: #f04545;
    padding-left: 10px;

}

.hotnews-navtitle-ul {
    float: left;
    _display: inline;
   /* margin-top: 7px;*/
    height: 32px;
    overflow: hidden;
}

.hotnews-navtitle-ul li {
    position: relative;
    cursor: pointer;
    float: left;
    width: 90px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    display: block;
    height: 30px;
    margin:0 10px;
    font-size: 14px;

}

.hotnews-content-ul{
     padding: 4px 5px 4px 0;
}
 

.hotnews-navtitle-ul li.hover {
    font-weight: bold;
   /* background: #333436 ;*/
    color: #fff;
    border-bottom: 2px solid #000;
}

.hotnews-content-ul li {
    overflow: hidden;
    height: 25px;
    line-height: 24px;
    padding-left: 10px;
    background: url(../image/bgs.png) no-repeat -644px -130px;
    font-size: 14px;
}
 .hotnews-content-ul .date {
    float: right;
    margin-left: 1em;
    color: #666
}


/*列表内的更多*/
.bottom-more {
    display: block;
    height: 18px;
    font-size: 14px;
}

.bottom-more a {
    float: right;
    margin-left: 1em;
    padding: 2px 15px 0 0;
    color: #333;
    line-height: 20px;
}


.ziliao-kuan .lanmu-title{
    position: relative;
    height: 32px;
    /*border-bottom: 1px solid #d8d8d8;*/
    background: #f04545;
}

.ziliao-kuan .lanmu-title h3 {
    float: left;
    _display: inline;
    font-size: 14px;
    margin: 0 10px;
    color: #fff;
    width: 100px;
    line-height: 32px;
}

.ziliao-kuan .ziliao-kuan-body{
    padding: 5px 10px 10px 0px;
/*    background: #f8f6f6;
    border: 1px #e8e7e7 solid;
    border-top: 0 none;*/
  
}


.ziliao-kuan .ziliao-kuan-body .mod-txt {
    height: 22px;
    line-height: 22px;
    border-bottom: 1px dotted #ddd;
    padding: 4px 0 4px 0;
    overflow: hidden;
    font-size: 14px;
}

.ziliao-kuan-body .mod-txt label {   
/*    display: inline;*/
   /* line-height: 24px;
    width: 68px;*/
    text-align: center;
    background: #4a4a4a;
    color: #f04545;  
    font-size: 14px;
  /*  border-radius: 3px;*/
}
.ziliao-kuan-body .mod-txt a{
    text-decoration: none;
}


.mod-pic .lanmu-title {
    padding-bottom: 10px;
    border-bottom: 1px solid #e3e3e3;
    *zoom:1;
    height: 24px;
    }

 .mod-pic .lanmu-title  h2 {
    font-size: 18px;
    font-weight: 700;
    float: left;
    color: #333;
    margin-right: 40px;
    line-height: 24px;
    height: 24px;
    font-family: PingFang sc,"Helvetica Neue",Helvetica,Tahoma,Arial,"Liberation Sans","Hiragino Sans GB","Source Han Sans CN","Source Han Sans SC","Microsoft YaHei","Wenquanyi Micro Hei","WenQuanYi Zen Hei","ST Heiti",SimHei,"WenQuanYi Zen Hei Sharp",sans-serif;
    position: relative

}




 h2 i {
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #f04545
}

.mod-pic .lanmu-title .qiehuan-title{
    *zoom:1;
    float: left;

}


.mod-pic .lanmu-title .qiehuan-title .trigger {
    float: left;
    color: #333;
    font-size: 14px;
    margin-right: 20px
}

.mod-pic .lanmu-title .qiehuan-title .trigger a {
    color: #333;
    display: block;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    cursor: pointer
}

.mod-pic .lanmu-title .qiehuan-title .trigger a:hover {
    text-decoration: none
}

.mod-pic .lanmu-title .qiehuan-title .hover {
    background: #f04545;
    color: #FFF
}


.mod-pic .pic-con {
    letter-spacing: -0.34em;
    word-spacing: -0.34em;
    padding-top: 10px;
    margin-left: -7px;
}

@media all and (-webkit-min-device-pixel-ratio: 1) {
    .mod-tab-s3 .mod-tab-bd .mod-pic {
        word-spacing: normal
    }
}

.mod-pic .pic-con  li {
    display: inline-block;
    *display: inline;
    *zoom: 1; vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    overflow: hidden;
    margin: 0 0 10px 22px;
    width: 138px
}


/*排行榜样式*/

.sort-ul{
     padding: 4px 5px 4px 0;
}
 

.sort-ul li.hover {
    font-weight: bold;
   /* background: #333436 ;*/
    color: #fff;
    border-bottom: 2px solid #000;
}

.sort-ul li {
    overflow: hidden;
    height: 25px;
    line-height: 24px;
    padding-left: 10px;
    background: url(../image/bgs.png) no-repeat -644px -130px;
    font-size: 14px;
}
 .sort-ul .date {
    float: right;
    margin-left: 1em;
    color: #666
}

.mod-full .lanmu-middle{
    margin-right: 15px;
    margin-left: 15px;
}

.lanmu390 .mod-head {    
    height: 32px;
    line-height: 32px;
    width: 390px;
    *zoom:1;
    border-bottom: 1px solid #EAEAEA
}

.lanmu390 .mod-head h3{
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    float: left;
    *display: inline;
    margin-bottom: -1px;
    border-bottom: 2px solid #00a786;
}

.lanmu390 .mod-head .more{
  float: right;
  display: inline;
  margin-top: 4px  ;
  margin-right: 3px;
}
.lanmu-list{
    margin: 10px 0px 10px 0px;
}

.lanmu-list li{
    overflow: hidden;
    height: 25px;
    line-height: 24px;      
    font-size: 14px;

}

.lanmu-list .date{
    float: right;
    margin-left: 1em;
}


.friend{
    background: #333436;
    float: left;
    width: 100%;

}


.friend .label {
    display: inline-block;
    *display: inline;
    *zoom:1;margin-bottom: 7px;
    position: relative;
    z-index: 5;
    padding-right: 16px;
 
}

.friend .label em {
    display: inline-block;
    *display: inline;
    *zoom:1;background-color: #222;
    color: #999;
    font-size: 14px;
    font-family: "Microsoft YaHei",sans-serif;
    padding: 0 9px;
    height: 25px;
    line-height: 25px
}

.friend .link {
    overflow: hidden;
    *zoom:1;
    font-size: 0;
    margin-bottom: 3px;
    padding:10px 0px;
}

.friend .link a {
    display: inline-block;
    *display: inline;
    *zoom:1;padding: 0 11px 0 10px;
    border-left: 1px solid #464646;
    position: relative;
    margin-left: -1px;
    font-size: 12px;
    color: #999;
    line-height: 1.1em;
    margin-bottom: 7px
}

.copyright{
    width: 100%;
    float: left;
    text-align: center;
    padding-bottom: 20px;
    height: auto;
    color: #999;
    background: #222;
}

.copyright   a {
    display: inline-block;
    *display: inline;
    *zoom:1;padding: 0 11px 0 10px; 
    position: relative;
    margin-left: -1px;
    font-size: 12px;
    color: #999;
    line-height: 1.1em;
    margin-bottom: 7px

}
/*------------*/

.grid-float-left{
    overflow: hidden;
    float: left;
  
}


.grid-float-right {
    overflow: hidden;
    float: right;
  
}

.grid-col-1200{
    width: 1200px;
}
.grid-col-410{
    width: 410px;
}

.grid-col-780{
    width: 780px;
}

.grid-col-390{
    width: 390px;
}
.grid-col-436{
    width: 436px;
}

.clear10 {
    clear: both;
    overflow: hidden;
    height: 10px;
}

html {
    font-size: 12px;
    overflow-y: scroll;
    font: 12px/1.5 PingFang sc,"Helvetica Neue",Helvetica,Tahoma,Arial,SimSun,TW-Sung,"WenQuanYi Bitmap Song","AR PL UMing CN","AR PL UMing HK","AR PL UMing TW","AR PL UMing TW MBE",serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased
}